<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head(Conteúdos)}"></head>
<body>
<header th:replace="~{fragmentos :: header('Lista de Conteúdos')}"></header>

<div class="container mb-4">
    <div class="col-12">
        <span th:styleappend="${(param.erro == null || param.mensagem == null) ? 'display: none;' : ''}"
              th:classappend="${(param.erro != null && param.erro) ? 'error-message' : 'success-message'}"
              th:text="${param.mensagem != null ? param.mensagem : ''}">Uma mensagem!</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">DESCRIÇÃO</th>
                    <th scope="col">QUESTÕES</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="content : ${contents}">
                    <th scope="row" th:text="${content.id}">1</th>
                    <td th:text="${content.name}">name</td>
                    <td th:text="${content.description}">description</td>
                    <td><a th:href="@{/contents/{id}(id = ${content.id})}">Questões</a></td>
                    <td><a th:href="@{/contents/{id}/edit(id = ${content.id})}">Editar Conteúdo</a></td>
                    <td class="col-1">
                        <a href="#" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${content.id}">Deletar</a>
                        <div th:replace="~{contents/delete-modal :: delete}"></div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="javascript:history.back()">Voltar</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>