<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head(Respostas)}"></head>

<body>
<header th:replace="~{fragmentos :: header('Respostas')}"></header>

<div class="container">
    <form method="POST">
    <label class="form-label">Resposta</label>
    <input class="form-control" type="text" name="response">
    <label class="form-label">Tipo da Resposta</label>
    <select class="form-select" name="type">
        <option th:each="type : ${type}"
                th:value="${type}" th:text="${type}"></option>
    </select>
    <button type="submit" class="btn btn-primary">SALVAR</button>
    </form>
    <div class="row">
        <div class="col-12">
            <h2>Listagem de Respostas</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Resposta</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="answer : ${answers}">
                    <th scope="row" th:text="${answer.id}">1</th>
                    <td th:text="${answer.type}">Tipo</td>
                    <td th:text="${answer.response}">Resposta</td>
                    <td><a href="#">Answers</a></td>
                    <td><a href="@{/answers/{id}/edit(id = ${answer.id})}">Editar Resposta</a></td>
                    <td class="col-1">
                        <a href="#" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${answer.id}">Deletar</a>
                        <div th:replace="~{answers/delete-modal :: delete}"></div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a href="javascript:history.back()">Voltar</a>
</div>

</body>
</html>